.AllProducts{
    display: flex;
    flex-direction: column;
    width: 78%;
}

.AllProducts h1{
    font-size: 30px;
    text-align: center;
}


.AllProducts .Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}