.AllProducts{
    display: flex;
    flex-direction: column;
    width: 78%;
}

.AllProducts h1{
    font-size: 30px;
    text-align: center;
}


.AllProducts .Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 950px)
{
    .AllProducts{
        width: 60%;
    }
    
}



@media (max-width: 650px)
{
    .AllProducts{
        width: 100%;
    }
    
    
}